.card__favorite {
  background-image: url("../../../images/favorite.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-color: #FFF;
  border: none;
  cursor: pointer;
}

.card__favorite:hover {
  opacity: 0.5;
}

.card__favorite:active {
  background-image: url("../../../images/favorite-active.svg");
  opacity: 1;
}