.header__logo {
  background-image: url("../../../images/logo.svg");
  background-repeat: no-repeat;
  margin-top: 45px;
  padding: 36px 20px;
  border-bottom: 1px solid #545454;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 960px) {
  .header__logo {
    background-position-x: 45px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    background-image: url("../../../images/logo320px.svg");
    background-position-x: 27px;
    margin-top: 28px;
    padding-bottom: 54.6px;
    margin-bottom: 42px;
  }
}