.profile__subtitle {
  margin-bottom: 0;
  margin-top: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 880px) {
  .profile__subtitle {
    font-size: 14px;
  }
}