.profile__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 880px) {
  .profile__text {
    align-items: center;
    text-align: center;
    gap: 14px;
  }
}