.photo-grid__favorite {
  background-image: url("../../../images/favorite.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-color: #FFFFFF;
  border: none;
  padding-inline: 11px;
}

.photo-grid__favorite:hover {
  opacity: 0.5;
}

.photo-grid__favorite:active {
  background-image: url("../../../images/favorite-active.svg");
  opacity: 1;
}