.profile__description {
  display: flex;
  gap: 30px;
}

@media (max-width: 880px) {
  .profile__description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }
}