.form__container {
  background-color: #FFF;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  margin: 0 auto;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .form__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}